body {
  font-family: Arial;
}

a {
  margin-right: 10px;
  text-decoration: none;
}

.nav {
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 10px;
}

.flash {
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
}
